#Default Ruby artifacts
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
spec/fixtures
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Tarball and RPM artifacts
build/
